<div *ngIf="product" class="modal-overlay">
  <div class="modal">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Product Details</h2>
    <img [src]="product.image" alt="Product Image" />
    <h3>{{ product.name }}</h3>
    <p><strong>Price:</strong> {{ product.price }} LE</p>
    <p><strong>Description:</strong> {{ product.description }}</p>
    <p><strong>Product Type:</strong> {{ product.type }}</p>

    <div class="color-options">
      <span
        *ngFor="let color of product.colors"
        [style.background]="color"
        class="color-circle"
      >
      </span>
    </div>

    <button class="edit">Edit</button>
    <button class="archive">Archive</button>
    <button class="delete" (click)="deleteProduct()">Delete Product</button>
  </div>
</div>
