<div class="container-fluid full-height">
  <div class="row full-height">
    <!-- Left section for form -->
    <div class="col-md-6 left-section">
      <div class="content-wrapper">
        <div class="logo">
          <img src="assets/Rectangle 1.png" alt="Brandfy Logo" />
        </div>
        <h2>Change Password</h2>
        <p>Must be identical in both fields.</p>
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="password">Password<span>*</span></label>
            <input
              type="password"
              id="password"
              class="form-control"
              formControlName="password"
              required
            />
            <div
              *ngIf="
                passwordForm.get('password')?.invalid &&
                passwordForm.get('password')?.touched
              "
              class="error"
            >
              Password is required (min length: 6)
            </div>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password<span>*</span></label>
            <input
              type="password"
              id="confirmPassword"
              class="form-control"
              formControlName="confirmPassword"
              required
            />
            <div
              *ngIf="
                passwordForm.get('confirmPassword')?.invalid &&
                passwordForm.get('confirmPassword')?.touched
              "
              class="error"
            >
              Password is required (min length: 6)
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
    <!-- popup -->
    <div *ngIf="isPopupVisible" class="popup">
      <div
        class="popup-content"
        [ngClass]="{ 'success-popup': isSuccess, 'error-popup': !isSuccess }"
      >
        <span
          class="popup-icon"
          [ngClass]="{ 'success-icon': isSuccess, 'error-icon': !isSuccess }"
        >
          {{ isSuccess ? "✔" : "✖" }}
        </span>
        <p class="popup-message">{{ popupMessage }}</p>
        <button class="popup-close" (click)="closePopup()">OK</button>
      </div>
    </div>
    <!-- Right section for illustration -->
    <div class="col-md-6 right-section">
      <div class="illustration-wrapper">
        <img src="assets/Rectangle 9.png" alt="Illustration" />
      </div>
    </div>
  </div>
</div>
