<div [class.blurred]="isSubmitted">
  <div class="container">
    <!-- Logo -->
    <div class="content-right">
      <div class="logo">
        <img src="assets/brandfy.jpg" alt="Brandfy Logo" />
      </div>

      <!-- Free Trial Section -->
      <div class="free-trial">
        <h1>
          You have now
          <span class="highlight"
            >Free<br />
            14-Day trial</span
          >
        </h1>
        <p>Try now and change your trip with us</p>
      </div>
    </div>
    <div class="content-left">
      <div class="up">
        <h2>Register Now</h2>

        <div class="form-step">
          <span class="step active">1</span>
          <span class="dash"></span>
          <span class="step active">2</span>
          <span class="dash"></span>
          <span class="step active">3</span>
        </div>
      </div>
      <div class="down">
        <!-- Pricing Section -->
        <div class="pricing-section">
          <!-- Basic Plan -->
          <label class="card">
            <input type="radio" name="plan" value="basic" />
            <h3>Basic</h3>
            <div class="price">25 LE</div>
            <p>billed monthly</p>
            <button class="btn">Start a Free trial</button>
            <ul>
              <li>&#10003; 1 Owner</li>
              <li>&#10003; Limited products</li>
              <li>&#10003; Post 5 products</li>
            </ul>
          </label>

          <!-- Premium Plan -->
          <label class="card">
            <input type="radio" name="plan" value="premium" />
            <h3>Premium</h3>
            <div class="price">150 LE</div>
            <p>billed monthly</p>
            <button class="btn">Start a Free trial</button>
            <ul>
              <li>&#10003; Unlimited Owners</li>
              <li>&#10003; Unlimited Products</li>
              <li>&#10003; Post Free products</li>
            </ul>
          </label>
        </div>
      </div>
      <!-- Action Buttons -->
      <div class="action-buttons">
        <button class="btn back-btn" type="button" routerLink="/register">
          Back
        </button>
        <button class="btn submit-btn" type="button" (click)="submitRequest()">
          Submit request
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Success Popup -->
<div class="popup" *ngIf="isSubmitted">
  <div class="popup-content">
    <span class="close-btn" (click)="closePopup()">&times;</span>
    <div class="popup-icon">✔</div>
    <h3>The request has been sent</h3>
    <p>You will be responded to within 24 hours.</p>
    <button class="btn login" (click)="closePopup()" routerLink="/loginbrand">
      Login
    </button>
  </div>
</div>
