.forget-password-container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: 'Arial', sans-serif;
  
}

/* Left Side */
.left {
  flex: 1;
  padding: 1rem;
  padding-right: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin-top: -120px;
}

.left img {
  margin-right: -200px;
    height: 216px;
    width: 340px;
    margin-bottom: -230px;
  }


.left h1 {
width: 285px;
height: 116px;
font-size: 48px;
line-height: 58.09px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-top: 200px;
margin-left: -60px;
font-family: Arial, Helvetica, sans-serif;
}

.left p {
  width: 228px;
  height: 19px;
  top: 116px;
  font-size: 1rem;
  color: gray;
  margin-top: -20px;
  margin-left: -112px;
}

.left .form-group {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
}

.left input {
  top: 40px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  font-size: 1rem;
  margin-left: 165px;
  margin-top: 40px;
  width: 500px;
  height: 45px;
}

.left input:focus {
  border-color: #494848;
  outline: none;

}

.left .error {
  color:#E68332;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  margin-left: 165px;
}

.left button {
  padding: 5px;
  gap: 10px;
  width: 160px;
  height: 30px;
  background-color: #E68332;
  top: 579px;
  left: 470px;
  margin-left: 516px;
  color: #ffffff;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.left button:disabled {
  background-color: #cccccc;
  cursor: pointer;
  background-color: #f0893f;
}

/* Right Side */
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;

  
}

.right img {
  max-width: 100%;
  
}

.notification {
  position: fixed;
  top: 20px;
  right: 570px;
  background-color: white; 
  color: gray;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.notification-icon {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: green;
}

.notification-message {
  font-size: 16px;
}


.notification.show {
  opacity: 1;
  visibility: visible;
}

.notification.hidden {
  opacity: 0;
  visibility: hidden;
}





