<div class="forget-password-container">
  <div class="left">
    <img src="assets/Rectangle 1.png" alt="Brandfy Logo" />
    <h1>Forget <br />Password</h1>
    <p>Please Enter Your Email below</p>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          id="email"
          formControlName="email"
          type="email"
          placeholder="Email"
          class="form-control"
        />
        <div
          *ngIf="
            registrationForm.get('email')?.invalid &&
            registrationForm.get('email')?.touched
          "
          class="error"
        >
          Valid email is required.
        </div>
      </div>
      <button
        type="submit"
        [disabled]="registrationForm.invalid"
        (click)="showNotification()" router-link='/change-password'
      >
        Next
      </button>
    </form>
  </div>
  <div id="notification" class="notification hidden">
    <div class="notification-content">
      <span class="notification-icon">✔</span>
      <span class="notification-message">Please check your email.</span>
    </div>
  </div>
  <div class="right">
    <img src="assets/Rectangle 9.png" alt="Illustration" />
     
  </div>
    
</div>
