@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css');
.container {
  max-width: 1000px;
  margin: auto;
}
/* Navigation Styling */
.nav-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links span {
  font-size: 16px;
  font-weight: 500;
  color: gray;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.nav-links span.active {
  font-weight: bold;
  color: black;
}

.nav-links span:hover {
  color: black;
}

/* Search Bar Styling */
.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.search-bar input {
  width: 300px;
  padding: 8px;
  border: none;
  border-radius: 15px;
  background-color: #f3f3f3;
  font-size: 14px;
  outline: none;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}
