.categories {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 20px 0;
    cursor: pointer;
  }
  .category {
    text-align: center;
  }
  .category img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  