<app-home-navbar></app-home-navbar>
<div class="contact-container">
  <h2>Contact</h2>
  <div class="contact-grid">
    <!-- Left Info Box -->
    <div class="contact-info">
      <div class="info-box">
        <i class="fa fa-envelope"></i>
        <div>
          <strong>Write Email To Us</strong>
          <p>Fill out our form and we will contact you within 24 hours.</p>
          <p>
            Support Email:
            <a href="mailto:support@gmail.com">support@gmail.com</a>
          </p>
          <p>
            Owner Email: <a href="mailto:basma@gmail.com">basma@gmail.com</a>
          </p>
        </div>
      </div>
      <hr />
      <div class="info-box">
        <i class="fa fa-phone"></i>
        <div>
          <strong>Call To Us</strong>
          <p>We are available 24 h, 7 days a week.</p>
          <p>Phone: <a href="tel:+20102581393">+20102581393</a></p>
        </div>
      </div>
    </div>

    <!-- Right Form Box -->
    <div class="contact-form">
      <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
        <div class="form-group">
          <label>Name *</label>
          <input type="text" formControlName="name" />
        </div>
        <div class="form-group">
          <label>Email *</label>
          <input type="email" formControlName="email" />
        </div>
        <div class="form-group full">
          <label>Message *</label>
          <textarea rows="5" formControlName="message"></textarea>
        </div>
        <button type="submit" [disabled]="!contactForm.valid">Send</button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
