<div class="container">
  <header class="text-center">
    <img src="assets/Rectangle 1.png" alt="Brandfy Logo" class="logo" />
  </header>

  <div class="card profile-card">
    <div class="card-body">
      <h5>Basma Mahmoud Saad Badr</h5>
      <p>basmabadr@gmail.com</p>
      <p>01201581393</p>
      <hr />
      <div>
        <p><strong>Brand Name:</strong> Basma</p>
        <p><strong>Category:</strong> Clothes</p>
        <p><strong>Address:</strong> Egypt, Elmenofia</p>
        <p><strong>Membership:</strong> Basic</p>
      </div>
      <button class="btn btn-warning">Logout</button>
    </div>
  </div>
</div>
