/* .container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 200px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.brand-logo h1 {
  font-size: 32px;
  color: #ff7300;
}

p {
  color: #666;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
}

.password-wrapper {
  position: relative;
}


.password-wrapper span {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button {
  background-color: #ff7300;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button.forgot-password {
  background-color: transparent;
  color: #ff7300;
  border: solid #ff7300 0.5px;
  cursor: pointer;
  margin-top: 10px;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.orangeP{
  color: #FF6600;
}
.brand{
  color: #666;
}
form{
  border-spacing: 200px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: -20px;
  margin-top: 40px;

}
.brand-logo {

  text-align: center;
 padding-top: -150px ;
  padding-right: 400px;


} */



/* input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
} */





/* .right-panel img {
  width: 80%;
  margin-bottom: 20px;
} */

/* .right-panel p {
  font-size: 1rem;
  color:black;
  font-weight: bold;
} */


.error-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f8d7da;
  color: #721c24;
  padding: 10px 20px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error-popup button {
  background: none;
  border: none;
  color: #721c24;
  font-size: 16px;
  cursor: pointer;
}
.orangeP {
  /* font-size: 1.5rem;*/
  color:#E68332 ;
  font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 24.2px;
letter-spacing: 0.08em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-top: -60px;
}
.brand{
  font-size: 1.5rem;
  color: gray;
}
.brand-logo p{
  font-weight: bold;
}
.brand-logo,
form{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
