<!-- <div class="container">
  <div class="brand-logo">
     <img src="assets/brandfy.jpg">
    <p class="orangeP">Join more than 200 brands around the world</p>
    <p  class="brand">Your first destination to publish your products and <br>quickly reach the largest number of users</p>
    <p class="acc"><a href="#" class="acc">Have an account?<span class="log"> <a href="#" class="log"> Log in Here!</a> </span></a></p>
  </div>

 <div class="content-left">
  <div class="up">
    <h2>Register Now</h2>
    <p class="gray">Personal Information</p>
    <p class="alert alert-danger" *ngIf="apiErrorMessage">{{apiErrorMessage}}</p>
    <div class="form-step">
      <span class="step active">1</span>
      <span class="dash"></span>
       <span class="step ">2</span>
       <span class="dash"></span>
      <span class="step">3</span>
    </div>
  </div>
  <div class="down">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)" class="reg-form">


      <div class="full">
          <label for="fullName">Full Name <span class="astric">*</span></label>
        <input id="fullName" formControlName="fullName" type="text" placeholder="Full Name">
        <!-- <div *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched">
          Full Name is required (min length: 3).
        </div> -->
        <div class="text-danger" *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched">
          <p *ngIf="registerForm.get('fullName')?.getError('required')" class="my-0">name is required</p>
          <p class="my-0" *ngIf="registerForm.get('fullName')?.getError('minLength')">name min length is 3</p>

        </div>
      </div>


      <div class="full">
        <label for="email">Email <span class="astric">*</span></label>
      <input id="email" formControlName="email" type="email" placeholder="Email">
      <!-- <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
        Valid email is required.
      </div> -->
      <div class="text-danger" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        <p *ngIf="registerForm.get('email')?.getError('required')" class="my-0">email is required</p>
        <p class="my-0" *ngIf="registerForm.get('email')?.getError('email')">valid email is required</p>

      </div>
      </div>


      <div class="full">
        <label for="phoneNumber">Phone Number <span class="astric">*</span></label>
      <input id="phoneNumber" formControlName="phoneNumber" type="text" placeholder="Phone Number">
      <!-- <div *ngIf="registrationForm.get('phoneNumber')?.invalid && registrationForm.get('phoneNumber')?.touched">
        Phone number must be numeric.
      </div> -->
      <div class="text-danger" *ngIf="registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched">
        <p *ngIf="registerForm.get('phoneNumber')?.getError('required')" class="my-0">phoneNumber is required</p>
        <p class="my-0" *ngIf="registerForm.get('phoneNumber')?.getError('pattern')">enter valid phoneNumber</p>

      </div>
      </div>


      <div class="full">
        <label for="password">Password <span class="astric">*</span></label>
      <input id="password" formControlName="password" type="password" placeholder="Password">
      <!-- <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
        Password is required (min length: 6).
      </div> -->
      <div class="text-danger" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        <p *ngIf="registerForm.get('password')?.getError('required')" class="my-0">password is required</p>
        <p class="my-0" *ngIf="registerForm.get('password')?.getError('pattern')">password min length is 3</p>

      </div>
      </div>


     <div class="full">
      <label>Gender <span class="astric">*</span></label>
      <div class="gen">

        <div class="gen-item">
          <input type="radio" class="male" formControlName="gender" value="male">
        <label for="male" class="male">Male</label>
        </div>
        <div class="gen-item"><input type="radio" class="female" formControlName="gender" value="female">
          <label for="female" class="female">Female</label></div>
      </div>
     </div>

     <div class="full btn">

      <button type="submit" [disabled]="registerForm.invalid" class="continue" routerLink="/register">Continue</button>
     </div>

    </form>

  </div>

 </div>
</div> -->
