
.left-side {
    background: #fceddf;
    padding: 130px 60px;
    width: 45%;
    height: 430px;
    text-align: center;
    margin-bottom: 20px;
    
  }

  .left-side .shop-btn{
    background-color: #E68332;
    border: none;
    color: white;
    padding: 5px 30px;;
    border-radius: 10px;
    margin-top: 30px;
  }
  .highlight {
    color: #E68332;
  }
  .right-side{
   width: 390px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0px 30px;
    margin-left: 130px;
    margin-bottom: 20px;
  }
.right-side .logo-img{
  width: 220px;
  margin-left: 90px;
}  
.right-side .hero-img{
  width: 400px;
}