<div class="login-container">
  <div class="left-panel">
    <div class="brand-logo">
      <img src="brandfy/src/assets/Rectangle1.png" alt="Brandfy" />
      <h2>Login to your Dashboard</h2>
    </div>
    <!-- <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()"> -->
      <form [formGroup]="registerForm" (ngSubmit)="handleLogin(registerForm)" class="reg-form">
      <!-- <div class="form-group">
        <label for="email">Email <span class="astric">*</span></label>
        <input id="email" formControlName="email" type="email" placeholder="Email" class="form-control">
        <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched" class="error">
          Valid email is required.
        </div>
      </div> -->
      <div class="full">
        <label for="email">Email <span class="astric">*</span></label>
      <input id="email" formControlName="email" type="email" placeholder="Email">
      <!-- <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
        Valid email is required.
      </div> -->
      <div class="text-danger" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        <p *ngIf="registerForm.get('email')?.getError('required')" class="my-0">email is required</p>
        <p class="my-0" *ngIf="registerForm.get('email')?.getError('email')">valid email is required</p>

      </div>
      </div>

      <!-- <div class="form-group">
        <label for="password">Password <span class="astric">*</span></label>
        <input id="password" formControlName="password" type="password" placeholder="Password" class="form-control">
        <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched" class="error">
          Password is required (min length: 6).
        </div>
      </div> -->
      <div class="full">
        <label for="password">Password <span class="astric">*</span></label>
      <input id="password" formControlName="password" type="password" placeholder="Password">
      <!-- <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
        Password is required (min length: 6).
      </div> -->
      <div class="text-danger" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        <p *ngIf="registerForm.get('password')?.getError('required')" class="my-0">password is required</p>
        <p class="my-0" *ngIf="registerForm.get('password')?.getError('pattern')">password min length is 3</p>

      </div>
      </div>

      <!-- <button type="submit" [disabled]="registrationForm.invalid" class="login-btn">Log in</button> -->


        <button type="submit" [disabled]="registerForm.invalid" class="continue" routerLink="/register">Continue</button>

      <button type="button" class="forgot-password" routerLink="/forget-password">Forget Password</button>
      </form>
</div>
  <div class="right-panel">
    <img src="assets/Rectangle9.png" alt="World Map" />
    <p>A Website that includes more than 200 brands in one place!</p>
    </div>
</div>
