<div class="product-details-container">

  <div class="product-images">

    <img [src]="selectedImage" class="main-image" />

    <div class="thumbnail-container">
      <img
        *ngFor="let img of product.images"
        [src]="img"
        class="thumbnail"
        (click)="changeImage(img)"
      />
    </div>
  </div>

  <div class="product-info">
    <h2>{{ product.name }}</h2>
    <p class="price">{{ product.price }} L.E</p>
    <p class="description">{{ product.shortDescription }}</p>


    <div class="color-options">
      <span
        *ngFor="let color of product.colors"
        [style.background]="color"
        class="color-dot"
      ></span>
    </div>


    <div class="quantity-selector">
      <button (click)="updateQuantity(-1)">-</button>
      <span>{{ quantity }}</span>
      <button (click)="updateQuantity(1)">+</button>
      <button class="add-to-cart">Add To Cart</button>
    </div>

    <hr />


    <h3>Description</h3>
    <p>{{ product.longDescription }}</p>
  </div>
</div>
