@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css');
.navbar {
  border-bottom: 1px solid #ddd;
  padding: 1px 10px;
}

.brand-logo {
  height: 50px;
  width: auto;
}

.brand-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 5px;
  color: #E68332; 
  vertical-align: middle;
}

/* Navbar Links */
.navbar-nav .nav-link {
  color: black;
  font-weight: 500;
  margin: 0 10px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .active-link {
  color: #E68332; 
  text-decoration: underline;
}

.active-icon i {
  color: #E68332;
  transform: scale(1.2);
  transition: 0.2s ease;
}


.search-box {
  position: relative;
}

.search-box .form-control {
  width: 180px;
  border-radius: 20px;
  padding-right: 30px;
  background-color: #f1f1f1;
  border: none;
}

.search-box .search-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: gray;
}

/* Icon Links */
.icon-links .icon {
  margin: 0 8px;
  font-size: 18px;
  color: black;
}

.icon-links .icon:hover {
  color: #E68332; 
}

.profile-container {
  position: relative;
  display: inline-block;
}

.profile-icon {
  background-color: #E68332;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 45px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 180px;
  z-index: 1000;
  padding: 10px 0;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  color: black;
  font-size: 14px;
  text-decoration: none;
  transition: background 0.3s;
}

.dropdown-item i {
  margin-right: 10px;
}

.dropdown-item:hover {
  background-color: #E6833238;
}

.dropdown-item.active {
  background-color: #E6833238;
  border-radius: 8px;
  font-weight: 600;
  color: black;
}

a.active-heart i {
  color: #e97f41;
}
