<div class="product-card">
  <div class="discount-badge" *ngIf="product.discount">
    {{ product.discount }}
  </div>
  <img [src]="product.image" alt="Product Image" class="product-image" />
  <div class="product-info">
    <h3 class="product-title">{{ product.name }}</h3>
    <p class="brand-name"><i class="fas fa-tag"></i> {{ product.brand }}</p>
    <p class="product-price">${{ product.price }}</p>
    <div class="rating">
      <span
        *ngFor="let star of [1, 2, 3, 4, 5]"
        [class.filled]="star <= product.rating"
        >★</span
      >
      <span>({{ product.reviews }})</span>
    </div>
    <button class="cart-btn">Add To Cart</button>
  </div>
</div>
