<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <img src="assets\Rectangle 29 (1).png" />
    <ul>
      <li><i class="fa fa-home"></i> Home</li>
      <li routerLink="/sales-for-brand">
        <i class="fa fa-shopping-cart"></i> Sales
      </li>
      <li><i class="fa fa-comment"></i> Chat</li>
      <li routerLink="/brand-profile"><i class="fa fa-user"></i> Profile</li>
      <li class="active"><a> My Products</a></li>
      <li><a> Orders</a></li>
      <li routerLink="/membership"><a> Subscriptionss</a></li>
      <li><a routerLink="/teamwork-basic"> Team Work</a></li>
      <li><a routerLink="/create-promocode"> Promocode</a></li>
      <li class="logout"><i class="fa fa-sign-out"></i> Logout</li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header">
      <h3>Welcome Here 👋</h3>
      <div class="user-profile">
        <img src="assets/user-avatar.jpg" alt="Brand" />
        <span>Brand Name</span>
      </div>
    </div>
    <div class="container">
      <h2 class="title">My Products</h2>
      <button routerLink="/my-products-report" class="report-btn">
        <i class="fa fa-bar-chart"></i> Report
      </button>

      <!-- Search Bar and Add Product Button -->
      <div class="d-flex justify-content-between align-items-center mb-3">
        <input
          type="text"
          class="search"
          [(ngModel)]="searchText"
          placeholder="Search"
        />
        <button class="add" routerLink="/my-products-add">
          ➕ Add New Product
        </button>
      </div>
      <!-- Product Grid -->
      <div *ngIf="isLoading" class="text-center">Loading...</div>
      <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>

      <div class="row">
        <div *ngFor="let product of filteredProducts()" class="col-md-3 mb-4">
          <div class="card">
            <img
              [src]="product.image"
              class="card-img-top"
              alt="Product Image"
            />
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <div class="color-options">
                <span
                  *ngFor="let color of product.colors"
                  [style.background]="color"
                  class="color-circle"
                ></span>
              </div>
              <p class="price">{{ product.price }} LE</p>
              <button class="show" (click)="showProductDetails(product)">
                👁 Show
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-my-products-details
      *ngIf="selectedProduct"
      [product]="selectedProduct"
      (close)="closeModal()"
    >
    </app-my-products-details>
  </div>
</div>
